<div class="span7" style="margin: auto;float:none">
 <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Оформление заказа</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="home">
<%= form_for(@order) do |f| %>
                <div style="margin-left:3%;margin-top:4%" class="span3">
                    <label class="control-label" >Имя</label>
                    <%= f.text_field :name,:value => @user.name, :placeholder => "Ваше имя" %>
                    <br>
                    <label class="control-label" >Фамилия</label>
                    <%= f.text_field :surname,:value => @user.surname, :placeholder => "Ваша фамилия" %>
                    <br>
                    <label class="control-label" >Номер телефона</label>
                    <%= f.text_field :phone,:value => @user.phone, :placeholder => "Ваш контактный телефон" %>
                    <br>
                    <label class="control-label" >E-mail</label>
                    <%= f.text_field :email,:value => @user.email, :placeholder => "Ваша электронная почта" %>
                    <br>
                </div>

                <div style="margin-left:3%;margin-top:4%" class="span3" >
                    <label class="control-label" >Адрес</label>
                    <%= f.text_field :adress,:value => @user.adress, :placeholder => "Адрес проживания" %>
                    <br>
                    <label class="control-label" >Индекс</label>
                    <%= f.text_field :index,:value => @user.index, :placeholder => "Почтовый индекс" %>
                    <br><br>
                    <p><strong>Подробности заказа будут высланы<br> Вам на E-mail</strong></p>
                </div>
                <div style="margin-left:3%;margin-top:6.8%" class="span3" id="myTab" >
                    <hr>
                    <a href="index.html"><button class="btn btn-danger" type="button">Отменить</button></a>
                    <a href="#profile" data-toggle="tab"><button class="btn btn-success" type="button" style="float:right">Подтвердить</button></a>
                </div>

              </div>
              <div class="tab-pane fade" id="profile">

                <div style="margin:auto;float:none;" class="span5">
                    <h4>Тип заказа</h4>
                    <%= f.select(:order_type,["Установка","Замена"]) %>
                    <br>
                    <hr>
                    <p class="text-center">Вы можете бесплатно установить новый или заменить свой старый прибор при заказе от 2000 рублей</p>
                    <hr>
                    <br>

                    <h4>Способ оплаты</h4>
                    <%= f.select(:pay,["Самовывоз","Курьером"]) %>
                    <br>
                    <hr>
                    <p class="text-center">Доставка курьером в пределах МКАД - 250р. Самовывоз возможен по нашему адресу <strong>ул.Кировоградская,д.13,пав.9</strong></p>
                    <hr>
                    <br>
                    <h5>Комментарий</h5>
                    <hr>
                    <p>Укажите свои пожелания, либо если Вы выбрали пункт <strong>"Замена"</strong> укажите прибор для замены</p>   
                    <%= text_area_tag(:message,"", :size => "8x8", :style => "width:95%") %>                
                    <a href="#home" data-toggle="tab"><button class="btn btn-primary" type="button">Назад</button></a>
                    <%= f.submit 'Готово', :class => "btn btn-success", :style => "float:right;" %> 
                </div>
              </div>

              <div class="tab-pane fade" id="ready">

                <div style="margin:auto;float:none;" class="span4">
                    <h2>Готово!</h2>
                        <br><br><br>
                    <p>На Ваш электронный ящик было отправлено письмо с подробностями заказа.</p>
                    <a href="index.html"><button class="btn btn-primary" type="button" style="float:right">На главную</button></a>  
                </div>
              </div>

            </div>
<%end%>
          </div>
</div>