<%= render "layouts/reg" %>

<%= render "layouts/head" %>

<%= render "layouts/menu" %>


    <div class="span7" style="margin-right:13%;margin-left:5%">
      <div class="alert alert-info">
       <h3>Каталог</h3>
      </div>
    <hr>
    <div style="margin-left:1%;">
      <h4><%= @category.title%></h4>
      <%= link_to "Все товары", :controller => :catalog %>
    </div>
    <hr>
    <ul class="thumbnails">
  <% @products.each do |product| %>

    <ul class="thumbnails">
        <li class="span5" style="margin-left:6%">
        <%= link_to raw("#{image_tag product.avatar.url, :style => "height:200px"} 
        <p><strong>#{product.title}</strong></p>
        <p style=\"color:\#0088cc\"><strong>#{product.price} p.</strong></p>"), {:controller => :products, :action => :show, :id => product.id}, :class=>"thumbnail", :style => "text-align:right;height:310px;width:100%;font-size:9pt;" %>
        </li>
  <% end %>
    </ul>
    </ul>


    </div>

</div>
</div>