<%= stylesheet_link_tag 'bootstrap-fileupload.css' %>
<%= javascript_include_tag 'bootstrap-fileupload.js' %>

<%= form_for @product , :url => products_path, :html => { :multipart => true }, :method => :post do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "layouts/panel" %>

<div class="span13" style="margin-left:5%" >
  <div class="alert alert-info">
  <h1>Добавление продукта</h1>
  </div>


<div style="margin-left:3%;margin-top:2%" class="span3">
  <div class="field">
    <p>Название</p>
    <%= f.text_field :title %>
  </div>
    <div class="field">
    <p>Артикул</p>
    <%= f.text_field :article %>
  </div>
    <div class="field">
    <p>Коллекция</p>
    <%= f.text_field :collection %>
  </div>
  <div class="field">
    <p>Описание</p>
    <%= f.text_area :description, :rows => "5" %>
  </div>
</div>

<div style="margin-left:15%;margin-top:2%" class="span3">
  <p>Изображение</p>
  <div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-file"><%= f.file_field :avatar %><span class="fileupload-new">Загрузить</span>
    <span class="fileupload-exists">Изменить</span><input type="file" /></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Удалить</a>
  </div>
</div>
</div>

<div style="margin-left:15%;margin-top:2%" class="span3">
  <div class="field">
    <p>Цена</p>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <p>Бренд</p>
    <%= collection_select :product, :brand_id, Brand.all, :id, :title, :selected => @product.brand_id %>
  </div>
  <div class="field">
    <p>Категория</p>
    <%= collection_select :product, :category_id, Category.all, :id, :title, :selected => @product.category_id %>
  </div>
  <p>Популярный:</p>
  <%= f.check_box :popular %>
        <hr>
    <%= f.submit  "Добавить товар", :class => "btn btn-primary"%>
    <br><br>
    <%= link_to 'Назад', products_path %>
</div>
    </div>
<% end %>
