<%= javascript_include_tag "application" %>

<%= render "layouts/panel" %>

<div class="span13" style="margin-left:3%;width:80%"  >
  <div class="alert alert-info">
    <h1>Список товаров</h1>
  </div>
  <%= link_to 'Добавить товар', new_product_path , :class=>"btn btn-info" %>
<hr>
<%Category.all.each do |category|%>

  <% if category.products.count > 0%>
  <br>
  <div class="alert alert-success">
  <h3><%= category.title%></h3>
</div>
    <table class="table table-bordered table-hover">
      <thead>  <tr>
    <th>Артикул</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Изображение</th>
    <th>Цена</th>
    <th>Бренд</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>

<% category.products.each do |product| %>
  <tr>
    <td><%= product.article %></td>
    <td><%= product.title %></td>
    <td style="width:30%"><%= product.description %></td>
    <td><%= image_tag product.avatar.url, :style=>"height:100px" %></td>
    <td><%= product.price %> р.</td>
    <td><%= product.brand.title %></td>
      <td><%= link_to 'Редактировать', edit_product_path(product), :class => "btn btn-primary" %></td>
      <td><%= button_to 'Удалить',  {:action => :destroy, :id => product.id} , :method => :delete, :confirm => 'Вы уверены?',:class => "btn btn-danger"  %></td>
  </tr>
<% end %>
</tbody>
</table>
  <%end%>

<%end%>



<br />

</div>
