
<%= render "layouts/reg" %>



<%= render "layouts/head" %>

<%= render "layouts/menu" %>


    <div class="span7" style="margin-right:13%;margin-left:5%">
    <h3>Каталог</h3>
    <hr>
    <h4 style="margin-left:2%">Смесители: <%= @product.brand.title %></h4>
    <hr>
    <ul class="thumbnails">
      <li class="span4">
      <a href="#" class="thumbnail" style="text-align:right" id="product">
        <%= image_tag @product.avatar.url, :style=>"text-align:right" %>
      </a>
      </li>
      <div class="span3">
        <h2><strong><%= @product.title %></strong></h2>
        <p>Категория: <strong><%= @product.category.title %></strong></p>
        <p>Артикул: <strong><%= @product.article %></strong></p>
        <p>Коллекция: <strong><%= @product.collection %></strong></p>
        <h3><%= @product.price %> p.</h3>
        <%= if session[:user_id] == nil
          render "reg_pls"
        else
          render "buy"
        end %>
      </div>
      <div class="span5" style="margin-top:5%">
        <h4>Описание</h4>
        <p><%= @product.description %></p>
      </div>
    </ul>
<hr>
  </div>
