
<%= render "layouts/reg" %>

<%= render "layouts/cart" %>

<%= render "layouts/head" %>

<%= render "layouts/menu" %>


    <div class="span7" style="margin-right:13%;margin-left:5%">
    <h3>Каталог</h3>
    <hr>
    <h4 style="margin-left:2%">Смесители: MONICA Hansgrohe</h4>
    <hr>
    <ul class="thumbnails">
      <li class="span4">
      <a href="#" class="thumbnail" style="text-align:right" id="product">
        <%= image_tag @product.avatar.url, :style=>"text-align:right" %>
      </a>
      </li>
      <div class="span4">
        <h2><%= @product.title %></h2>
        <p>Категория: <%= @product.category.title %></p>
        <h3><%= @product.price %> p.</h3>
        <%= button_to 'Купить', carts_path(:product_id => @product), :class => "btn btn-large btn-primary" %>
      </div>
      <div class="span4" style="margin-top:5%">
        <p><%= @product.description %></p>
      </div>
    </ul>

  </div>

    <div class = "span1" id="cart" align="right">
        <a href="#myCart" data-toggle="modal"><%= image_tag "cart.png" %></a>
        <p>Товаров:<b>12</b></p>
    </div>
