            <ul class="nav">
              <li class="active"><%= link_to "Главная", root_path %></li>
              <li><%= link_to "Контакты", :controller => :contact %></li> 
              <li><a href="#myModal" data-toggle="modal">Регистрация</a></li>
            </ul>
            <%= form_tag sessions_path, :class => "navbar-form pull-right" do  %>
              <%= text_field_tag :email, params[:email],:placeholder => "E-mail", :class => "span2" %>
               <%=  password_field_tag :password_digest, params[:password_digest],:placeholder => "Пароль", :class => "span2" %>
              <%= submit_tag "Войти", :class => "btn"%>
            <% end %>