

 <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" style="height:700px">
<%@categories.each do |category|%>
<div class="accordion" id="collapse<%= category.id %>" style="margin-bottom:1%">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse<%= category.id %>" href="#<%= category.id %>">
        <strong><%= category.title %></strong>
      </a>
    </div>

    <div id="<%= category.id %>" class="accordion-body collapse ">
      <div class="accordion-inner">
        <%category.brands.each do |brand|%>
        <ul class="nav nav-tabs nav-stacked" style="margin-bottom:2%">
        <li><%= link_to  brand.title, brand_products_path(category.id,brand.id)%></li>
      </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
        </div><!--/span-->