<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="Смесители Grohe замена бесплатно, Смесители Grohe доставка, Смесители Grohe установка, Смесители Grohe Чертаново, Смесители Grohe Пражская, Смесители Grohe Южная, damixa смесители для кухни,
краны для кухни, смесители grohe в кредит , душевая система hansgrohe, радиаторы рифар монолит купить , кран для кухни, кран на кухню, краны для ванной, купить смеситель для ванной, купить смеситель для кухни ">
<meta name="description" content="Cантехника Manvel - широкий спектр товаров. Grohe, Hansgrohe, Damixa, Rifar. м. Пражская ул. Кировоградская, 13 Павильон 92 Павильон 9. Телефон: 8-(985)-224-64-21">
<title>Сантехника Manvel | <%= @product.title %></title>
<%= csrf_meta_tag %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag 'jquery-1.9.1.min.js' %>
<%= javascript_include_tag 'select2.js' %>
<%= stylesheet_link_tag 'bootstrap.css' %>
<%= stylesheet_link_tag 'bootstrap-responsive.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'select2.css' %>
<%= stylesheet_link_tag 'style.css' %>
<%= stylesheet_link_tag 'demo_table.css' %>
<%= stylesheet_link_tag 'demo_table_jui.css' %>
<%= stylesheet_link_tag 'MenuMatic.css' %>
<%= stylesheet_link_tag 'jquery.dataTables.css' %>
<%= javascript_include_tag 'catalog'%>
<%= javascript_include_tag 'bootstrap.js' %>
<link href="images/logo2.jpg" rel="shortcut icon" type="image/x-icon" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <script>
        $(document).ready(function() { $("#e1").select2(); });
        $(document).ready(function() { $("#e2").select2(); });
    </script>
    <link href="images/logo2.jpg" rel="shortcut icon" type="image/x-icon" />
<%= csrf_meta_tag %>
</head>

<body>
<%= yield %>

</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22055083 = new Ya.Metrika({id:22055083,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22055083" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
